<body>
      <a href="/">Your todo list</a>
      |
      <a href="/edit_user_profile">Edit profile</a>
      |
      <a href="/user_sign_out">Sign out</a>
    
      <p>Deleted.</p>

    
    <div>
  <div>
    <h1>
      Delivery Tracker
    </h1>

    <p>Know if something gets lost in the mail.</p>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Expecting a package?
    </h2>

    <form action="/insert_delivery" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="supposed_to_arrive_on_box">
          Supposed to arrive on
        </label>

        <input type="date" id="supposed_to_arrive_on_box" name="query_supposed_to_arrive_on">
      </div>

      <div>
        <label for="details_box">
          Details
        </label>

        <textarea id="details_box" name="query_details" rows="3"></textarea>
      </div>

      <button>
        Log delivery
      </button>
    </form>
  </div>
</div>

<hr>

<div class="waiting_on">
  <h2>Waiting on</h2>

  <ul>
      <li>
        <div>Incredible Plastic Watch</div>

        <div style="">
          Supposed to arrive on
          2023-04-14
        </div>

        <div>
          USPS tracking #553290281187
        </div>

        <div>
          <form action="/modify_delivery/186182" method="post">
            <input type="hidden" name="arrived" value="true">

            <button>Mark as received</button>
          </form>
        </div>
        
        <br>
      </li>
      <li>
        <div>Enormous Leather Clock</div>

        <div style="">
          Supposed to arrive on
          2023-04-20
        </div>

        <div>
          
        </div>

        <div>
          <form action="/modify_delivery/186185" method="post">
            <input type="hidden" name="arrived" value="true">

            <button>Mark as received</button>
          </form>
        </div>
        
        <br>
      </li>
  </ul>
</div>

<hr>

<div class="received">
  <h2>Received</h2>

  <ul>
      <li>
        <div>Heavy Duty Iron Shoes</div>

        <div>
          <small>
            Updated 41 minutes ago

            <a href="/delete_delivery/186186">Delete</a>
          </small>
        </div>
      </li>
      <li>
        <div>Sleek Granite Lamp</div>

        <div>
          <small>
            Updated 41 minutes ago

            <a href="/delete_delivery/186183">Delete</a>
          </small>
        </div>
      </li>
      <li>
        <div>Fantastic Leather Coat</div>

        <div>
          <small>
            Updated 41 minutes ago

            <a href="/delete_delivery/186180">Delete</a>
          </small>
        </div>
      </li>
  </ul>
</div>

  </body>
</html>
